<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-center">Login</h5>
      </div>
      <div class="card-body">
        <form action="/users/login" method="POST">
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="email" class="form-control" placeholder="Enter your email">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">#</span>
            <input type="password" class="form-control" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-secondary me-2">Login</button>
          <span>No Account ? <a href="/users/register" class="text-decoration-none">Register</a></span>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- 
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> --}}